beautifulsoup4
Flask
Flask-Cors
Flask-HTTPAuth
Flask-MySQLdb
Flask-RESTful
Flask-SQLAlchemy
numpy
openai
pandas
python-dateutil
python-dotenv
Sastrawi
torch
transformers
keras
tensorflow
html5lib
gunicorn
pymongo
pillow
flask-apispec