beautifulsoup4
Flask
Flask-Cors
Flask-HTTPAuth
Flask-MySQLdb
Flask-RESTful
Flask-SQLAlchemy
numpy
openai
pandas
PyMySQL
python-dateutil
python-dotenv
PyYAML
Sastrawi
SQLAlchemy
torch
transformers
keras
tensorflow
html5lib