{% extends 'layout.html' %}
{% block content %}
<div class="container-fluid">

  <div class="row">
    <div class="col-lg-12">
      <div class="card">
        <div class="card-header bg-info">
          <h4 class="mb-0 text-white">Input Dokter</h4>
        </div>
        <form action="/api/v1/dokter/input" method="post" class="form-horizontal">

          <div>
            <div class="card-body">
              <h4 class="card-title">Masukan Nama Penyakit dan Gejala yang berhubungan dengan penyakit tersebut serta
                cara pengobatan / penanganannya dan rekomendasi tempat rujukan untuk informasi lebih lanjut</h4>
              <div class="row pt-3">
                <div class="col-md-12">
                  <div class="mb-3">
                    <input type="hidden" class="form-control" name="id_dokter"id="id_dokter" value="123">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3"><label>
                      Nama Penyakit
                    </label>
                    <input type="text" class="form-control" placeholder="masukan nama penyakit" id="nama_penyakit"name="nama_penyakit">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3"><label>
                      Masukan Gejala apabila lebih dari 1 gunakan , (koma)
                    </label>
                    <input type="text" class="form-control" placeholder="masukan gejala" name="gejala" id="gejala">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3"><label>
                      Masukan cara pengobatan / penyegahannya
                    </label>
                    <input type="text" class="form-control" placeholder="masukan cara pengobatan / penyegahannya"
                    id="pencegahan" name="pencegahan" id="pencegahan">
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3"><label>
                      Pilih Tempat Rujukan
                    </label>
                    <select id="rujukan" name="rujukan" class="form-control" id="">
                      <option value="Rumah Sakit">Rumah Sakit</option>
                      <option value="Apotek">Apotek</option>
                      <option value="Puskesmas">Puskesmas</option>
                      <option value="Pijat / Urut">Pijat / Urut</option>
                    </select>
                  </div>
                </div>
                <div class="col-md-12">
                  <div class="mb-3">

                    <button class="form-control bg-success text-white" type="button" id="kirim" onclick="submitdata()">submit</button>
                  </div>
                </div>
        </form>
      </div>
    </div>
  </div>

</div>

<script>
  function submitdata(){
    var url = "/api/v1/dokter/input"
    id_dokter= $('#id_dokter').val()
    nama_penyakit= $('#nama_penyakit').val()
    pencegahan= $('#pencegahan').val()
    gejala= $('#gejala').val()
    rujukan= $('#rujukan').val()
    if (id_dokter == ""){
      toastr.error('Gagal simpan data!');

    }
    else if (nama_penyakit == ""){
      toastr.error('Gagal simpan data!');

    }
    else if (pencegahan == ""){
      toastr.error('Gagal simpan data!');

    }
    else if (gejala == ""){
      toastr.error('Gagal simpan data!');

    }
    else if (rujukan == ""){
      toastr.error('Gagal simpan data!');

    }
    else {
    var formData = {
    id_dokter: $('#id_dokter').val(),
    nama_penyakit: $('#nama_penyakit').val(),
    pencegahan: $('#pencegahan').val(),
    gejala: $('#gejala').val(),
    rujukan: $('#rujukan').val(),
    };
    console.log(formData)
    axios.post(url, formData)
        .then(function(response) {
            console.log(response)
            toastr.success("berhasil tambah data");
        })
        .catch(function(error) {
            toastr.error('Gagal simpan data!');
        });
      }
    }
</script>
{% endblock %}